@font-face {
    font-family: 'Wisdom Script Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Wisdom Script Regular'), url('Wisdom Script AJ.woff') format('woff');
}



/***** BASE STYLES *****/

body {
    font-family: 'Montserrat', sans-serif;
    color: black;
}

span {
    color: #77a466;
}

h1, h2, h3, h4 {
    text-transform: uppercase;
}




/***** GRID *****/

.full-width {
    width: 1200px;
    margin: 20px auto;
} 

.half-width {
    width: 600px;
    float: left;
}

.third-width {
    float: left;
    width: 340px;
}

.border-right {
    border-right: 1px solid #dedbdc;
    height: 210px;
}

.pad-left {
    padding: 0 45px 0 30px;
}



/***** HEADER *****/

header h1 { 
    font-size: 30px;
    line-height: 23px;
}

nav {
    float: right; 
    padding: 6px 0 0 0;
}

nav ul li{
    display: inline-block;

}
nav ul li a {
    color: #77a466;
    font-weight: bold;
    font-size: 14px;
    line-height: 23px;
    padding-left: 20px; 
    text-transform: uppercase;
    text-decoration: none;
}

img {
    border-top: 3px solid #77a466;
    border-bottom: 3px solid #77a466;
}




/***** ABOUT *****/

#about h3 { 
    font-size: 18px;
    font-weight: bold;
    line-height: 23px;
}

#about p {
    font-size: 16px;
    line-height: 25px;
}




/***** BOTTOM SECTION *****/

#bottom .full-width {
    border-top: 1px solid #dedbdc;
    border-bottom: 1px solid #dedbdc;
    height: 210px;
}

#bottom h4 {
    font-size: 12px;
    line-height: 25px;
}

#bottom p {
    font-size: 16px;
}

#bottom ul {
    list-style: none;
    padding: 0;
}

#bottom ul li a {
    color: #77a466;
    font-size: 16px;
    line-height: 32px;
    text-decoration: none;
}

#reviews {
    padding: 0 45px 0 30px;
}

#reviews p {
    line-height: 21px;
}

#contact p {
    line-height: 24px;
}



/***** FOOTER *****/

footer {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    color: black;
    text-transform: uppercase;
}

#fresh {
    font-family: 'Wisdom Script Regular';
    text-transform: none;
}